<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets" >
<h:head>
	<title>Events - Admin Panel</title>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
</h:head>
<h:body>
	<ui:include src="admin_menu.xhtml" />
	<!-- menu ends -->
	<div style="width: 800px; margin: 0 auto;">
		<div style="width: 800px; margin: 0;">

			<h:form id="eventForm">
				<p:messages autoUpdate="true" />
				<p:schedule id="schedule" value="#{adminEventBean.eventModel}" widgetVar="myschedule" view="agendaWeek">

					<p:ajax event="dateSelect" listener="#{adminEventBean.onDateSelect}" update="eventDetails" oncomplete="eventDialog.show()" />
					<p:ajax event="eventSelect" listener="#{adminEventBean.onEventSelect}" update="eventDetails" oncomplete="eventDialog.show()" />
					<p:ajax event="eventMove" listener="#{adminEventBean.onEventMove}" />
					<p:ajax event="eventResize" listener="#{adminEventBean.onEventResize}" />

				</p:schedule>

				<p:dialog widgetVar="eventDialog" header="Event Details" showEffect="clip" hideEffect="clip">
					<p:messages id="errors" autoUpdate="true"></p:messages>
					<h:panelGrid id="eventDetails" columns="2">
						<h:panelGrid columns="2" styleClass="topAlignPanelColumns">
						<h:outputLabel for="title" value="Title*" />
						<p:inputText id="title" value="#{adminEventBean.event.title}" style="width:400px;" required="true" />

						<p:outputLabel value="Description"></p:outputLabel>
						<p:inputTextarea rows="8" cols="50" value="#{adminEventBean.event.description}"/>
						<!-- 
						<p:editor id="editor" value="#{adminEventBean.event.description}">
						</p:editor>
						 -->
						
						<h:outputLabel for="contact1" value="Contact Number1" />
						<p:inputText id="contact1" value="#{adminEventBean.event.contactNumber1}" />

						<h:outputLabel for="contact2" value="Contact Number2" />
						<p:inputText id="contact2" value="#{adminEventBean.event.contactNumber2}" />

						<h:outputLabel for="contact3" value="Contact Number3" />
						<p:inputText id="contact3" value="#{adminEventBean.event.contactNumber3}" />

						<h:outputLabel for="contact4" value="Contact Number4" />
						<p:inputText id="contact4" value="#{adminEventBean.event.contactNumber4}" />

						<h:outputLabel for="fbEventId" value="Facebook Event Id" />
						<p:inputText id="fbEventId" value="#{adminEventBean.event.fbEventId}" />

						<h:outputLabel for="from" value="From*" />
						<p:inputMask id="from" value="#{adminEventBean.event.startDate}" mask="99/99/9999 99:99">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
						</p:inputMask>

						<h:outputLabel for="to" value="To*" />
						<p:inputMask id="to" value="#{adminEventBean.event.endDate}" mask="99/99/9999 99:99">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
						</p:inputMask>

						<h:outputLabel for="allDay" value="All Day:" />
						<h:selectBooleanCheckbox id="allDay" value="#{adminEventBean.event.allDay}" />

						<p:commandButton type="reset" value="Reset" />
						<p:commandButton id="addButton" update="eventForm" value="Save" actionListener="#{adminEventBean.saveEvent}" />
						</h:panelGrid>
						<h:panelGrid columns="1" styleClass="topAlignPanelColumns">
						<p:outputLabel value="Address"></p:outputLabel>
						<p:inputTextarea rows="4" cols="50" value="#{adminEventBean.event.address}"/>
						<p:outputLabel value=" - #{adminEventBean.event.lattitude},#{adminEventBean.event.longitude},#{adminEventBean.event.depth}"></p:outputLabel>
							<p:gmap center="#{adminEventBean.event.lattitude},#{adminEventBean.event.longitude}" zoom="#{adminEventBean.event.depth}" 
							type="HYBRID" model="#{adminEventBean.draggableMapModel}" fitBounds="true" style="width:400px;height:400px">
								<p:ajax event="markerDrag" listener="#{adminEventBean.onMarkerDrag}" />
								<p:ajax event="stateChange" listener="#{adminEventBean.onStateChange}" />
								
							</p:gmap>
						</h:panelGrid>
						

					</h:panelGrid>
				</p:dialog>

			</h:form>


			<!-- footer starts -->
			<div class="footerWrapper">
				<div class="container_24">
					<div class="grid_24 panel footer">
						Copyright &copy; 2014 <a href="#">www.aamaadmiparty.org</a>. All Rights Reserved.
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- footer ends -->
		</div>
	</div>

</h:body>
</html>