<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Email - Admin Panel</title>
	<style>
.topAlignPanelColumns td {
	vertical-align: top;
}

.pf-dock-container-top {
	background-image: none;
	background-color: white;
}

.ui-dock-item-top {
	color: black;
}

.ui-dock-container-top {
	color: black;
}

.ui-selectonemenu {
	width: 100px;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}
</style>

</h:head>
<h:body>
	<ui:include src="admin_menu.xhtml" />
	<!-- menu ends -->
	<div style="width: 800px; margin: 0 auto;">
		<div style="width: 800px; margin: 0;">

			<h:form id="adminEmailForm">
				<p:messages id="messages" autoUpdate="true" closable="true" />
				<p:outputPanel id="mainPanel">
					<p:outputPanel id="listView" rendered="#{adminEmailBean.showList}">

						<p:commandButton value="New Email" actionListener="#{adminEmailBean.newPost}" update=":adminEmailForm:mainPanel">
						</p:commandButton>
						<p:dataTable id="listOfPlannedPosts" var="onePost" value="#{adminEmailBean.plannedEmails}" paginator="true" rows="#{adminEmailBean.pageSize}" paginatorPosition="bottom"
							paginatorAlwaysVisible="false" emptyMessage="No Facebook Post"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
							<f:facet name="header">Planned Facebook Posts</f:facet>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Id" />
								</f:facet>
								<h:outputText value="#{onePost.id}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Subject" />
								</f:facet>
								<h:outputText value="#{onePost.subject}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Post Time" />
								</f:facet>
								<h:outputText value="#{onePost.postingTime}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Status" />
								</f:facet>
								<h:outputText value="#{onePost.status}" />
							</p:column>
							<p:column style="width:100px;">
								<f:facet name="header">
									<h:outputText value="Update" />
								</f:facet>
								<p:commandLink update=":adminEmailForm:mainPanel" title="Update Post">
									<p:graphicImage value="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/edit-redo-48.png" height="20" />
									<f:setPropertyActionListener value="#{onePost}" target="#{adminEmailBean.selectedEmail}" />
								</p:commandLink>
							</p:column>
						</p:dataTable>
					</p:outputPanel>
					<p:outputPanel id="formView" rendered="#{!adminEmailBean.showList}">
						<p:panelGrid columns="1" styleClass="topAlignPanelColumns">
							<p:panelGrid columns="2">

								<p:outputLabel value="Subject" ></p:outputLabel>
								<p:inputText  value="#{adminEmailBean.selectedEmail.subject}" style="width:600px;">
								</p:inputText>
								<p:outputLabel value="Message"></p:outputLabel>
								<p:editor id="editor" value="#{adminEmailBean.selectedEmail.message}" width="600" height="500">
								</p:editor>

								<p:outputLabel value="Post Time"></p:outputLabel>
								<p:calendar value="#{adminEmailBean.selectedEmail.postingTime}" pattern="MM/dd/yyyy HH:mm" />
							</p:panelGrid>
						</p:panelGrid>
						<p:commandButton value="Cancel" update=":adminEmailForm:mainPanel" actionListener="#{adminEmailBean.cancel}" styleClass="ui-priority-primary">
						</p:commandButton>
						<p:commandButton value="Save" update=":adminEmailForm:mainPanel" actionListener="#{adminEmailBean.savePost}" styleClass="ui-priority-primary">
						</p:commandButton>
					</p:outputPanel>
				</p:outputPanel>
				<br></br>
				<br></br>
				<br></br>
				<br></br>
			</h:form>


			<!-- footer starts -->
			<div class="footerWrapper">
				<div class="container_24">
					<div class="grid_24 panel footer">
						Copyright &copy; 2014 <a href="#">www.aamaadmiparty.org</a>. All Rights Reserved.
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- footer ends -->
		</div>
	</div>

</h:body>
</html>