<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>News - Admin Panel</title>
	<style>
.topAlignPanelColumns td {
	vertical-align: top;
}

.pf-dock-container-top {
	background-image: none;
	background-color: white;
}

.ui-dock-item-top {
	color: black;
}

.ui-dock-container-top {
	color: black;
}

.ui-selectonemenu {
	width: 100px;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}
</style>

</h:head>
<h:body>
	<ui:include src="admin_menu.xhtml" />
	<!-- menu ends -->
	<div style="width: 800px; margin: 0 auto;">
		<div style="width: 800px; margin: 0;">
			<p:blockUI block="adminNewsForm" trigger=":adminNewsForm:saveNews,:adminNewsForm:saveNewsAndPublish,:adminNewsForm:publish">
			Saving Profile<br />
				<p:graphicImage value="/images/ajax-loader.gif" />
			</p:blockUI>
			<h:form id="adminNewsForm">
				<p:messages id="messages" autoUpdate="true" closable="true" />
				<p:outputPanel id="mainPanel">
					<p:outputPanel id="listView" rendered="#{newsAdminBean.showList}">

						<p:commandButton value="Create News" actionListener="#{newsAdminBean.createNews}" update=":adminNewsForm:mainPanel">
						</p:commandButton>
						<p:dataTable id="listOfNews" var="onePost" value="#{newsAdminBean.newsList}" paginator="true" rows="25" paginatorPosition="bottom" paginatorAlwaysVisible="false"
							emptyMessage="No News" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15">
							<f:facet name="header">News</f:facet>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Id" />
								</f:facet>
								<h:outputText value="#{onePost.id}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Title" />
								</f:facet>
								<h:outputText value="#{onePost.title}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Author" />
								</f:facet>
								<h:outputText value="#{onePost.author}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Status" />
								</f:facet>
								<h:outputText value="#{onePost.contentStatus}" />
							</p:column>
							<p:column style="width:100px;">
								<f:facet name="header">
									<h:outputText value="Update" />
								</f:facet>
								<p:commandLink update=":adminNewsForm:mainPanel" title="Update Post">
									<p:graphicImage value="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/edit-redo-48.png" height="20" />
									<f:setPropertyActionListener value="#{onePost}" target="#{newsAdminBean.selectedNews}" />
								</p:commandLink>
							</p:column>
						</p:dataTable>
					</p:outputPanel>
					<p:outputPanel id="formView" rendered="#{!newsAdminBean.showList}">
						<p:panelGrid columns="2">
							<p:outputLabel value="Title"></p:outputLabel>
							<p:inputText value="#{newsAdminBean.selectedNews.title}" style="width:600px" disabled="#{!newsAdminBean.editAllowed}">
								<p:ajax event="change" update=":adminNewsForm" />
							</p:inputText>
							<p:outputLabel value="Image Url"></p:outputLabel>
							<p:inputText value="#{newsAdminBean.selectedNews.imageUrl}" style="width:600px" disabled="#{!newsAdminBean.editAllowed}">
								<p:ajax event="change" update=":adminNewsForm" />
							</p:inputText>
							<p:outputLabel value="Message"></p:outputLabel>
							<p:outputPanel>
							<p:outputLabel value="#{newsAdminBean.selectedNews.content}" escape="false" rendered="#{!newsAdminBean.editAllowed}" />
							<p:editor id="editor" value="#{newsAdminBean.selectedNews.content}" width="600" height="500" rendered="#{newsAdminBean.editAllowed and newsAdminBean.showEditor}">
							</p:editor>
							<p:inputTextarea rows="25" cols="100" value="#{newsAdminBean.htmlNewsContent}" rendered="#{newsAdminBean.editAllowed and !newsAdminBean.showEditor}"/>
							<p:commandButton value="Edit Raw HTML" update=":adminNewsForm" actionListener="#{newsAdminBean.editRawHtml}" styleClass="ui-priority-primary"
							rendered="#{newsAdminBean.editAllowed and newsAdminBean.showEditor}" >
								</p:commandButton>  
							<p:commandButton value="Edit Text" update=":adminNewsForm" actionListener="#{newsAdminBean.editText}" styleClass="ui-priority-primary"
							rendered="#{newsAdminBean.editAllowed and !newsAdminBean.showEditor}" >
								</p:commandButton>  
								</p:outputPanel>
							<p:outputLabel value="Author"></p:outputLabel>
							<p:inputText value="#{newsAdminBean.selectedNews.author}" disabled="#{!newsAdminBean.editAllowed}" />
							<p:outputLabel value="Source"></p:outputLabel>
							<p:inputText value="#{newsAdminBean.selectedNews.source}" disabled="#{!newsAdminBean.editAllowed}" />
						</p:panelGrid>
						<br></br>
						<p:outputPanel id="tweetPanel">
							<p:outputPanel rendered="#{!newsAdminBean.showTweetList}">
								<p:inputTextarea rows="5" cols="50" counter="counter" maxlength="140" counterTemplate="{0} characters remaining." value="#{newsAdminBean.selectedTweet.tweetContent}">
								</p:inputTextarea>
								<br></br>
								<h:outputText id="counter" />
								<br></br>
								<p:commandButton value="Add Tweet" update=":adminNewsForm" actionListener="#{newsAdminBean.addNewsTweet}" styleClass="ui-priority-primary">
								</p:commandButton>
								<p:commandButton value="Cancel" update=":adminNewsForm:mainPanel" actionListener="#{newsAdminBean.cancelTweet}" styleClass="ui-priority-primary">
								</p:commandButton>

							</p:outputPanel>
							<p:outputPanel rendered="#{newsAdminBean.showTweetList}">
								<p:commandButton value="Create News Tweet" update=":adminNewsForm:tweetPanel" actionListener="#{newsAdminBean.createNewsTweet}" rendered="#{newsAdminBean.saveDraft}"
									styleClass="ui-priority-primary">
								</p:commandButton>
								<br></br>
								<p:dataTable id="listOfTweets" var="oneTweet" value="#{newsAdminBean.tweetList}" paginator="true" rows="25" paginatorPosition="bottom" paginatorAlwaysVisible="false"
									emptyMessage="No Tweet Related to this News"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
									<p:column>
										<f:facet name="header">
											<h:outputText value="Tweets" />
										</f:facet>
										<h:outputText value="#{oneTweet.tweetContent}" />
									</p:column>
									<p:column style="width:100px;" rendered="#{newsAdminBean.editAllowed}">
										<f:facet name="header">
											<h:outputText value="Update" />
										</f:facet>
										<p:commandLink title="Update Tweet" update=":adminNewsForm:tweetPanel">
											<p:graphicImage value="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/edit-redo-48.png" height="20" />
											<f:setPropertyActionListener value="#{oneTweet}" target="#{newsAdminBean.selectedTweet}" />
										</p:commandLink>
									</p:column>
								</p:dataTable>
								<br></br>
								<p:commandButton value="Cancel" update=":adminNewsForm:mainPanel" actionListener="#{newsAdminBean.cancel}" styleClass="ui-priority-primary">
								</p:commandButton>
								<p:commandButton id="saveNews" value="Save Draft" update=":adminNewsForm:mainPanel" actionListener="#{newsAdminBean.savePost}" styleClass="ui-priority-primary"
									rendered="#{newsAdminBean.saveDraft}">
								</p:commandButton>
								<p:commandButton id="saveNewsAndPublish" value="Save and Publish" update=":adminNewsForm:mainPanel" actionListener="#{newsAdminBean.saveAndPublishPost}"
									styleClass="ui-priority-primary" rendered="#{newsAdminBean.saveAndPublish}">
								</p:commandButton>
								<p:commandButton id="publish" value="Publish" update=":adminNewsForm:mainPanel" actionListener="#{newsAdminBean.publishPost}" styleClass="ui-priority-primary"
									rendered="#{newsAdminBean.publish}">
								</p:commandButton>
								<p:commandButton id="reject" value="Reject" oncomplete="rejectionDialogWidget.show()" styleClass="ui-priority-primary" rendered="#{newsAdminBean.reject}">
								</p:commandButton>

							</p:outputPanel>

							<p:dialog id="rejectionDialog" modal="true" header="Rejection Reason" widgetVar="rejectionDialogWidget" resizable="false">

								<h:panelGrid columns="2" cellpadding="5" id="rejectionDialogPanelGrid">
									<h:outputLabel value="Rejection Reason" />
									<p:selectOneMenu value="#{newsAdminBean.selectedNews.rejectionReason}">
										<f:selectItem itemLabel="Doesnot belong to this location" itemValue="Doesnot belong to this location" />
										<f:selectItem itemLabel="Against AAP" itemValue="Against AAP" />
										<f:selectItem itemLabel="UnParliamentary Language" itemValue="UnParliamentary Language" />
										<f:selectItem itemLabel="False facts or Proof not available" itemValue="False facts or Proof not available" />
										<f:selectItem itemLabel="Others" itemValue="Others" />
										<p:ajax update="rejectionDialogPanelGrid" listener="#{newsAdminBean.onRejectionReasonChange}" />
									</p:selectOneMenu>

									<h:outputLabel value="" />
									<p:inputText value="#{newsAdminBean.otherReason}" rendered="#{newsAdminBean.showOtherReasonTextBox}" id="otherReason" required="false"/>

									<f:facet name="footer">
										<p:commandButton id="finalRejectionButton" value="Reject" update=":adminNewsForm:mainPanel" actionListener="#{newsAdminBean.rejectPost}" 
										oncomplete="rejectionDialogWidget.hide()" />
									</f:facet>
								</h:panelGrid>

							</p:dialog>
						</p:outputPanel>

					</p:outputPanel>
				</p:outputPanel>
				<br></br>
				<br></br>
				<br></br>
				<br></br>
			</h:form>


			<!-- footer starts -->
			<div class="footerWrapper">
				<div class="container_24">
					<div class="grid_24 panel footer">
						Copyright &copy; 2014 <a href="#">www.aamaadmiparty.org</a>. All Rights Reserved.
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- footer ends -->
		</div>
	</div>

</h:body>
</html>