<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>PollQuestion - Admin Panel</title>
	<style>
.topAlignPanelColumns td {
	vertical-align: top;
}

.pf-dock-container-top {
	background-image: none;
	background-color: white;
}

.ui-dock-item-top {
	color: black;
}

.ui-dock-container-top {
	color: black;
}

.ui-selectonemenu {
	width: 100px;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}
</style>

</h:head>
<h:body>
	<ui:include src="admin_menu.xhtml" />
	<!-- menu ends -->
	<div style="width: 800px; margin: 0 auto;">
		<div style="width: 800px; margin: 0;">
			<p:blockUI block="adminPollQuestionForm" trigger=":adminPollQuestionForm:savePollQuestion,:adminPollQuestionForm:savePollQuestionAndPublish,:adminPollQuestionForm:publish">
			Saving Question<br />
				<p:graphicImage value="/images/ajax-loader.gif" />
			</p:blockUI>
			<p:blockUI block="adminPollQuestionForm" trigger=":adminPollQuestionForm:addAnswer">
			Saving Answer<br />
				<p:graphicImage value="/images/ajax-loader.gif" />
			</p:blockUI>
			<p:blockUI block="adminPollQuestionForm" trigger=":adminPollQuestionForm:createPollAnswer">
			Creating Answer<br />
				<p:graphicImage value="/images/ajax-loader.gif" />
			</p:blockUI>
			
			
			<h:form id="adminPollQuestionForm">
				<p:messages id="messages" autoUpdate="true" closable="true" />
				<p:outputPanel id="mainPanel">
					<p:outputPanel id="listView" rendered="#{pollAdminBean.showList}">

						<p:commandButton value="Create PollQuestion" actionListener="#{pollAdminBean.createPollQuestion}" update=":adminPollQuestionForm:mainPanel">
						</p:commandButton>
						<p:dataTable id="listOfPollQuestion" var="onePost" value="#{pollAdminBean.pollQuestionList}" paginator="true" rows="25" paginatorPosition="bottom" paginatorAlwaysVisible="false"
							emptyMessage="No Poll Questions" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15">
							<f:facet name="header">PollQuestion</f:facet>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Id" />
								</f:facet>
								<h:outputText value="#{onePost.id}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Title" />
								</f:facet>
								<h:outputText value="#{onePost.content}" escape="false" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Status" />
								</f:facet>
								<h:outputText value="#{onePost.contentStatus}" />
							</p:column>
							<p:column style="width:100px;">
								<f:facet name="header">
									<h:outputText value="Update" />
								</f:facet>
								<p:commandLink update=":adminPollQuestionForm:mainPanel" title="Update Post">
									<p:graphicImage value="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/edit-redo-48.png" height="20" />
									<f:setPropertyActionListener value="#{onePost}" target="#{pollAdminBean.selectedPollQuestion}" />
								</p:commandLink>
							</p:column>
						</p:dataTable>
					</p:outputPanel>
					<p:outputPanel id="formView" rendered="#{!pollAdminBean.showList}">
						<p:panelGrid columns="2">
							<p:outputLabel value="Question"></p:outputLabel>
							<p:outputLabel value="#{pollAdminBean.selectedPollQuestion.content}" escape="false" rendered="#{!pollAdminBean.editAllowed}" />
							<p:editor id="editor" value="#{pollAdminBean.selectedPollQuestion.content}" width="600" height="200" rendered="#{pollAdminBean.editAllowed}">
							</p:editor>
						</p:panelGrid>
						<br></br>
						<h:outputText id="urlForPoll" value="http://my.aamaadmiparty.org/content/poll/#{pollAdminBean.selectedPollQuestion.urlId}.html" />
						<h:outputText id="urlForPoll2" value="" />
						<br></br>
						<p:outputPanel id="answerPanel">
							<p:outputPanel rendered="#{!pollAdminBean.showAnswerList}">
								<p:inputTextarea rows="5" cols="50" counter="counter" maxlength="140" counterTemplate="{0} characters remaining." value="#{pollAdminBean.selectedAnswer.content}">
								</p:inputTextarea>
								<br></br>
								<h:outputText id="counter"  />
								<br></br>
								<p:commandButton id="addAnswer" value="Add Answer" update=":adminPollQuestionForm" actionListener="#{pollAdminBean.addPollQuestionAnswer}" styleClass="ui-priority-primary">
								</p:commandButton>
								<p:commandButton value="Cancel" update=":adminPollQuestionForm:mainPanel" actionListener="#{pollAdminBean.cancelTweet}" styleClass="ui-priority-primary">
								</p:commandButton>

							</p:outputPanel>
							<p:outputPanel rendered="#{pollAdminBean.showAnswerList}">
								<p:commandButton id="createPollAnswer" value="Create Answers" update=":adminPollQuestionForm:answerPanel" actionListener="#{pollAdminBean.createPollQuestionAnswer}" 
								rendered="#{pollAdminBean.editAllowed}" styleClass="ui-priority-primary">
								</p:commandButton>
								<br></br>
								<p:dataTable id="listOfTweets" var="oneAnswer" value="#{pollAdminBean.answerList}" paginator="true" rows="25" paginatorPosition="bottom" paginatorAlwaysVisible="false"
									emptyMessage="No Answers to this PollQuestion"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
									<p:column>
										<f:facet name="header">
											<h:outputText value="Answers" />
										</f:facet>
										<h:outputText value="#{oneAnswer.content}" />
									</p:column>
									<p:column style="width:100px;" rendered="#{pollAdminBean.editAllowed}">
										<f:facet name="header">
											<h:outputText value="Update" />
										</f:facet>
										<p:commandLink title="Update Answer" update=":adminPollQuestionForm:answerPanel">
											<p:graphicImage value="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/edit-redo-48.png" height="20" />
											<f:setPropertyActionListener value="#{oneAnswer}" target="#{pollAdminBean.selectedAnswer}" />
										</p:commandLink>
									</p:column>
								</p:dataTable>
								<br></br>
								<p:commandButton value="Cancel" update=":adminPollQuestionForm:mainPanel" actionListener="#{pollAdminBean.cancel}" styleClass="ui-priority-primary">
								</p:commandButton>
								<p:commandButton id="savePollQuestion" value="Save Draft" update=":adminPollQuestionForm:mainPanel" actionListener="#{pollAdminBean.savePost}" styleClass="ui-priority-primary"
									rendered="#{pollAdminBean.saveDraft}">
								</p:commandButton>
								<p:commandButton id="savePollQuestionAndPublish" value="Save and Publish" update=":adminPollQuestionForm:mainPanel" actionListener="#{pollAdminBean.saveAndPublishPost}"
									styleClass="ui-priority-primary" rendered="#{pollAdminBean.saveAndPublish}">
								</p:commandButton>
								<p:commandButton id="publish" value="Publish" update=":adminPollQuestionForm:mainPanel" actionListener="#{pollAdminBean.publishPost}" styleClass="ui-priority-primary"
									rendered="#{!pollAdminBean.saveAndPublish and pollAdminBean.publish}">
								</p:commandButton>
							</p:outputPanel>
						</p:outputPanel>

					</p:outputPanel>
				</p:outputPanel>
				<br></br>
				<br></br>
				<br></br>
				<br></br>
			</h:form>


			<!-- footer starts -->
			<div class="footerWrapper">
				<div class="container_24">
					<div class="grid_24 panel footer">
						Copyright &copy; 2014 <a href="#">www.aamaadmiparty.org</a>. All Rights Reserved.
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- footer ends -->
		</div>
	</div>

</h:body>
</html>