<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Candidates - Admin Panel</title>
	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
</h:head>
<h:body>
	<ui:include src="admin_menu.xhtml" />
	<!-- menu ends -->
	<div style="width: 1200px; margin: 0 auto;">
		<div style="width: 1200px; margin: 0;">
		<p:messages autoUpdate="true" />
			<p:blockUI block=":adminCandidateForm:mainPanel" trigger=":adminCandidateForm:addButton" />  
			<h:form id="adminCandidateForm" enctype="multipart/form-data">
				<p:outputPanel id="mainPanel">
					<p:outputPanel id="listView" rendered="#{adminCandidateBean.showList}">
						<p:commandButton value="Create Candidate" actionListener="#{adminCandidateBean.createCandidate}" update=":adminCandidateForm:mainPanel">
						</p:commandButton>
						<p:dataTable id="listOfBlog" var="oneCandidate" value="#{adminCandidateBean.candidates}" emptyMessage="No Candidates">
							<f:facet name="header">Candidates</f:facet>
							<p:column style="width:2%">
								<p:rowToggler />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Id" />
								</f:facet>
								<h:outputText value="#{oneCandidate.id}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Title" />
								</f:facet>
								<h:outputText value="#{oneCandidate.name}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="State-PC" />
								</f:facet>
								<h:outputText value="#{oneCandidate.stateName} - #{oneCandidate.pcName}" />
							</p:column>
							<p:column style="width:100px;">
								<f:facet name="header">
									<h:outputText value="Update" />
								</f:facet>
								<p:commandLink update=":adminCandidateForm:mainPanel" title="Update Candidate" >
									<p:graphicImage value="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/edit-redo-48.png" height="20" />
									<f:setPropertyActionListener value="#{oneCandidate}" target="#{adminCandidateBean.candidate}" />
								</p:commandLink>
							</p:column>
							<p:rowExpansion>
								<h:panelGrid width="1000" id="display" columns="2" cellpadding="4" style="width:300px;" styleClass=" ui-widget-content grid">

									<f:facet name="header">
										<h:outputText value="Candidate Details" />
									</f:facet>

									<h:outputText value="Landing Page Small Url" />
									<h:outputText value="#{oneCandidate.landingPageSmallUrl}" />

									<h:outputText value="Landing Page Full Url" />
									<h:outputText value="#{oneCandidate.landingPageFullUrl}" />

									<h:outputText value="Donation Page Small Url" />
									<h:outputText value="http://myaap.in/#{oneCandidate.donatePageUrlId}" />

									<h:outputText value="Donation Page Full Url" />
									<h:outputText value="#{oneCandidate.donationPageFullUrl}" />

								</h:panelGrid>

							</p:rowExpansion>
						</p:dataTable>
					</p:outputPanel>
					<p:outputPanel id="formView" rendered="#{!adminCandidateBean.showList}">
						<h:panelGrid id="candidateDetails" columns="1">
							<h:panelGrid columns="2" styleClass="topAlignPanelColumns">
								<h:outputLabel value="State*" />
								<p:selectOneMenu  value="#{adminCandidateBean.candidate.stateId}" effect="fold" editable="false">
									<f:selectItem itemLabel="Select State" itemValue="0" />
									<f:selectItems value="#{adminCandidateBean.stateList}" var="oneState" itemLabel="#{oneState.name}" itemValue="#{oneState.id}" />
									<p:ajax event="change" update=":adminCandidateForm:mainPanel" listener="#{adminCandidateBean.handleStateChange}" />
								</p:selectOneMenu>
								<h:outputLabel value="Parliament Constituency*" />
								<p:selectOneMenu disabled="#{!adminCandidateBean.enablePcBox}" value="#{adminCandidateBean.candidate.parliamentConstituencyId}"
									effect="fold" editable="false">
									<f:selectItem itemLabel="Select Parliament Constituency" itemValue="0" />
									<f:selectItems value="#{adminCandidateBean.pcList}" var="oneParliamentConstituency" itemLabel="#{oneParliamentConstituency.name}"
										itemValue="#{oneParliamentConstituency.id}" />
									<p:ajax event="change" update=":adminCandidateForm:mainPanel" listener="#{adminCandidateBean.handlePcChange}" />
								</p:selectOneMenu>
								<h:outputLabel value="Profile Pic" />
								 <!-- <p:fileUpload value="#{adminCandidateBean.profilePicFile}" mode="simple"-->
								 <p:outputPanel>
								 <h:outputLabel value="Profile Pic upload will be available after you save the Profile first time" /><br></br>
								 <p:fileUpload fileUploadListener="#{adminCandidateBean.handleFileUpload}" mode="advanced" update="profilePic" 
            					 auto="true" sizeLimit="5000000" allowTypes="/(\.|\/)(jpe?g)$/" disabled="#{adminCandidateBean.fileUploadDisabled}" />
								 <p:graphicImage style="width:200px;" id="profilePic" value="#{adminCandidateBean.candidate.imageUrl}" />  
								 </p:outputPanel>  
								<h:outputLabel for="name" value="Name" invalidSizeMessage="maximum size of file can 500KB"/>
								<p:inputText id="name" value="#{adminCandidateBean.candidate.name}" disabled="#{!adminCandidateBean.formEditable}" style="width:200px;" required="true" />

								<p:outputLabel value="Description"></p:outputLabel>
								<p:editor id="editor" disabled="#{!adminCandidateBean.formEditable}" value="#{adminCandidateBean.candidate.content}">
								</p:editor>

								<h:outputLabel value="Landing page small Url" />
								<h:panelGrid columns="2">
									<h:outputLabel value="http://myaap.in/" />
									<p:inputText disabled="#{!adminCandidateBean.formEditable}" value="#{adminCandidateBean.candidate.landingPageUrlId}" />
								</h:panelGrid>

								<h:outputLabel value="Landing page Target Url" />
								<h:panelGrid columns="4">
									<h:outputLabel value="http://my.aamaadmiparty.org/candidate/" />
									<p:inputText disabled="#{!adminCandidateBean.formEditable}" value="#{adminCandidateBean.candidate.urlTextPart1}" />
									<h:outputLabel value="/" />
									<p:inputText disabled="#{!adminCandidateBean.formEditable}" value="#{adminCandidateBean.candidate.urlTextPart2}" />
								</h:panelGrid>

								<h:outputLabel value="Donation page Url" />
								<h:panelGrid columns="2">
									<h:outputLabel value="http://myaap.in/" />
									<p:inputText disabled="#{!adminCandidateBean.formEditable}" value="#{adminCandidateBean.candidate.donatePageUrlId}" />
								</h:panelGrid>

								<h:outputLabel value="Donation Page Target URL" />
								<p:outputPanel>
									<h:outputLabel value="https://donate.aamaadmiparty.org?State=" style="text-size:10px;" />
									<p:inputText style="width:40px" disabled="#{!adminCandidateBean.formEditable}" id="stateIdExt" value="#{adminCandidateBean.candidate.stateIdExt}" />
									<h:outputLabel value="&amp;Loksabha=" />
									<p:inputText style="width:40px" disabled="#{!adminCandidateBean.formEditable}" id="pcIdExt" value="#{adminCandidateBean.candidate.pcIdExt}" />
								</p:outputPanel>
								<h:outputLabel for="fbCandidateId" value="Candidate Facebook Page Id" />
								<h:panelGrid columns="2">
									<h:outputLabel value="http://www.facebook.com/" />
									<p:inputText disabled="#{!adminCandidateBean.formEditable}" id="fbCandidateId" value="#{adminCandidateBean.candidate.candidateFbPageId}" />
								</h:panelGrid>
								

								<h:outputLabel for="twitterId" value="Candidate Twitter Id" />
								<h:panelGrid columns="2">
									<h:outputLabel value="http://www.twitter.com/" />
									<p:inputText disabled="#{!adminCandidateBean.formEditable}" id="twitterId" value="#{adminCandidateBean.candidate.twitterId}" />
								</h:panelGrid>

							</h:panelGrid>
							#{adminCandidateBean.candidate.depth}
							#{adminCandidateBean.candidate.lattitude}
							#{adminCandidateBean.candidate.longitude}
							<!-- 
								<p:gmap center="#{adminEventBean.event.lattitude},#{adminEventBean.event.longitude}" zoom="#{adminEventBean.event.depth}" 
								type="HYBRID" model="#{adminEventBean.draggableMapModel}" fitBounds="true" style="width:400px;height:400px">
									<p:ajax event="markerDrag" listener="#{adminEventBean.onMarkerDrag}" />
									<p:ajax event="stateChange" listener="#{adminEventBean.onStateChange}" />
										
								</p:gmap>
							-->								
								<p:gmap center="#{adminCandidateBean.candidate.lattitude},#{adminCandidateBean.candidate.longitude}" 
								zoom="#{adminCandidateBean.candidate.depth}" type="terrain"
									model="#{adminCandidateBean.draggableMapModel}" fitBounds="true" style="width:900px;height:600px">
									<p:ajax event="markerDrag" listener="#{adminCandidateBean.onMarkerDrag}" />
									<p:ajax event="stateChange" listener="#{adminCandidateBean.onStateChange}" />

								</p:gmap>
								 
							
							<h:panelGrid columns="2" styleClass="topAlignPanelColumns">
								<p:commandButton  value="Cancel" actionListener="#{adminCandidateBean.cancel}"  update=":adminCandidateForm:mainPanel"/>
								<p:commandButton disabled="#{!adminCandidateBean.formEditable}" id="addButton" update=":adminCandidateForm:mainPanel" value="Save" actionListener="#{adminCandidateBean.saveCandidate}" />
							</h:panelGrid>

						</h:panelGrid>
					</p:outputPanel>
				</p:outputPanel>



			</h:form>


			<!-- footer starts -->
			<div class="footerWrapper">
				<div class="container_24">
					<div class="grid_24 panel footer">
						Copyright &copy; 2014 <a href="#">www.aamaadmiparty.org</a>. All Rights Reserved.
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- footer ends -->
		</div>
	</div>

</h:body>
</html>