<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>#{homeBean.user.name} - AAP Profile</title>
	<style>
.topAlignPanelColumns td {
	vertical-align: top;
}

.pf-dock-container-top {
	background-image: none;
	background-color: white;
}

.ui-dock-item-top {
	color: black;
}

.ui-dock-container-top {
	color: black;
}

.ui-selectonemenu {
	width: 100px;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}
</style>

</h:head>
<h:body>
<ui:include src="menu.xhtml" />
	<!-- menu ends -->
	<div style="width: 800px; margin: 0 auto;">
	<div style="width: 800px; margin: 0;">
	
		<!-- header starts -->
		<h:form id="homeForm">
			<p:messages id="messages" autoUpdate="true" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">
				<p:outputPanel>
					<p:graphicImage value="#{homeBean.user.profilePic}?type=normal" />
				</p:outputPanel>
				<p:outputPanel>
					<h:panelGrid columns="2" cellpadding="5">
					
						<h:outputLabel value="Name*" />
						<h:outputLabel value="#{homeBean.user.name}" />
						
						<h:outputText value="Gender : " />
						<h:outputText value="#{homeBean.user.gender}" />		

						<h:outputText value="Date of Birth*" />
						 <h:outputText value="#{homeBean.user.dateOfBirth}" >
				              <f:convertDateTime pattern="dd-MMM-yyyy" />
						 </h:outputText>
						
					</h:panelGrid>
				</p:outputPanel>

			</h:panelGrid>
				<br></br>
				<br></br>
				<br></br>
				<br></br>
			
		</h:form>
		<!-- header ends -->


		<!-- footer starts -->
		<div class="footerWrapper">
			<div class="container_24">
				<div class="grid_24 panel footer">
					Copyright &copy; 2014 <a href="#">www.aamaadmiparty.org</a>. All Rights Reserved.
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- footer ends -->
	</div>
	</div>

</h:body>
</html>
