<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Admin Panel</title>
	<style>
.topAlignPanelColumns td {
	vertical-align: top;
}

.pf-dock-container-top {
	background-image: none;
	background-color: white;
}

.ui-dock-item-top {
	color: black;
}

.ui-dock-container-top {
	color: black;
}

.ui-selectonemenu {
	width: 100px;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}
</style>

</h:head>
<h:body>
	<ui:include src="admin_menu.xhtml" />
	<!-- menu ends -->
	<!--
	<div style="width: 800px; margin: 0 auto;">
		<div style="width: 800px; margin: 0;">

			<p:outputPanel rendered="#{!menuBean.admin}">
				You do not have access to Admin Panel
			</p:outputPanel>
			<h:form id="adminForm" rendered="#{menuBean.admin}">
				<p:messages id="messages" autoUpdate="true" closable="true" />
				<h3>Admin Panel</h3>
				<p:panelGrid columns="3">
					<f:facet name="header"> Select Operation</f:facet>
					<p:commandButton value="Voice of AAP - FB" actionListener="#{locationAdminBean.goToVoiceOfAapAdminPageFb}" rendered="#{locationAdminBean.voiceOfAapFbAllowed}"
						styleClass="ui-priority-primary">
					</p:commandButton>

					<p:commandButton value="Voice of AAP - Twitter" actionListener="#{locationAdminBean.goToVoiceOfAapAdminPageTwitter}" rendered="#{locationAdminBean.voiceOfAapTwitterAllowed}"
						styleClass="ui-priority-primary">
					</p:commandButton>

					<p:commandButton value="Manage News" actionListener="#{locationAdminBean.goToManageNewsPage}" rendered="#{locationAdminBean.manageNewsAllowed}"
						styleClass="ui-priority-primary">
					</p:commandButton>
					
					<p:commandButton value="Manage Blogs" actionListener="#{locationAdminBean.goToManageBlogPage}" rendered="#{locationAdminBean.manageBlogAllowed}"
						styleClass="ui-priority-primary">
					</p:commandButton>

					<p:commandButton value="Manage Polls" actionListener="#{locationAdminBean.goToManagePollPage}" rendered="#{locationAdminBean.managePollAllowed}"
						styleClass="ui-priority-primary">
					</p:commandButton>

					<p:commandButton value="Manage Members" actionListener="#{locationAdminBean.goToManageMemberPage}" rendered="#{locationAdminBean.manageMemberAllowed}"
						styleClass="ui-priority-primary">
					</p:commandButton>

					<p:commandButton value="Manage user Roles" actionListener="#{locationAdminBean.goToManageUserRolePage}" rendered="#{locationAdminBean.manageUserRoleAllowed}"
						styleClass="ui-priority-primary">
					</p:commandButton>

					<p:commandButton value="Treasury" actionListener="#{locationAdminBean.goToTreasuryPage}" rendered="#{locationAdminBean.treasuryAllowed}"
						styleClass="ui-priority-primary">
					</p:commandButton>

				</p:panelGrid>
				<br></br>
				<br></br>
				<br></br>
				<br></br>


			</h:form>


			<div class="footerWrapper">
				<div class="container_24">
					<div class="grid_24 panel footer">
						Copyright &copy; 2014 <a href="#">www.aamaadmiparty.org</a>. All Rights Reserved.
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	-->

</h:body>
</html>