<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Vote Now</title>
	<style>
.topAlignPanelColumns td {
	vertical-align: top;
}

.topAlignDiv {
	vertical-align: top;
}

.pf-dock-container-top {
	background-image: none;
	background-color: white;
}

.ui-dock-item-top {
	color: black;
}

.ui-dock-container-top {
	color: black;
}

.ui-selectonemenu {
	width: 100px;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}

.google {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px -200px;
}

.yahoo {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px 50px;
}

.facebook {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px -100px;
}

.myspace {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px 250px;
}

.linkedin {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px 350px;
}

.aol {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px 0px;
}

.twitter {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px 150px;
}
.ui-datagrid
{
background-color: #3B5998;
vertical-align: top;
}
.facebook-data-row{
background-color: #3B5998;
}
</style>

</h:head>
<h:body>
	<!-- menu starts -->
	<ui:include src="menu.xhtml" />
	<br></br>
	<br></br>
	<!-- menu ends -->
	<div style="width: 800px; margin: 0 auto;">
		<h:panelGrid columns="2" styleClass="topAlignPanelColumns">
			<p:fieldset>
				<f:facet name="legend">
					<div class="topAlignDiv">
						<p:graphicImage value="https://cdn4.iconfinder.com/data/icons/circle-network/52/twitter_social_circle-20.png" />
						Twitter Connections
					</div>
				</f:facet>

				<p:dataGrid styleClass="topAlignPanelColumns" var="oneTwitterAccount" value="#{socialAccountBean.loginAccounts.twitterAccounts}" columns="2" paginator="false" emptyMessage="No Twitter Account connected">
					<p:graphicImage value="#{oneTwitterAccount.imageUrl}" styleClass="facebook-data-row"/>
					<h:outputText value="#{oneTwitterAccount.screenName}" style="font-size:18px;font-style:bold;"/>
				</p:dataGrid>
				<br></br>
				Add Twitter Account<br></br>
				
				<a href="./login/twitter" class="twitter"></a>
				<em style="font-size:10px;">you can add multiple twitter accounts to your AAP account</em>
			</p:fieldset>
			<p:fieldset>
				<f:facet name="legend">
					<div class="topAlignDiv">
						<p:graphicImage value="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-20.png" />
						Facebook Connections
					</div>
				</f:facet>

				<p:dataGrid styleClass="topAlignPanelColumns" var="oneFacebookAccount" value="#{socialAccountBean.loginAccounts.facebookAccounts}" columns="2" paginator="false" emptyMessage="No Facebook Account connected">
					<p:graphicImage value="#{oneFacebookAccount.imageUrl}" />
					<h:outputText value="#{oneFacebookAccount.userName}" />
				</p:dataGrid>
				<br></br>
				<p:outputPanel rendered="#{socialAccountBean.renderFacebookConnectionButton}">
					Add Facebook Account
					<a href="./login/facebook" class="facebook"></a>
				</p:outputPanel>
				<p:outputPanel rendered="#{!socialAccountBean.renderFacebookConnectionButton}">
				<em style="font-size:10px;">you can add only one facebook account to your AAP account</em>
				</p:outputPanel>
			</p:fieldset>
				<br></br>
				<br></br>
				<br></br>
				<br></br>
		</h:panelGrid>



		<!-- footer starts -->
		<div class="footerWrapper">
			<div class="container_24">
				<div class="grid_24 panel footer">
					Copyright &copy; 2014 <a href="#">www.aamaadmiparty.org</a>. All Rights Reserved.
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- footer ends -->

	</div>

</h:body>
</html>
