<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Voice of AAP</title>
	<style>
.topAlignPanelColumns td {
	vertical-align: top;
}

.pf-dock-container-top {
	background-image: none;
	background-color: white;
}

.ui-dock-item-top {
	color: black;
}

.ui-dock-container-top {
	color: black;
}

.ui-selectonemenu {
	width: 100px;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}
.google {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px -200px;
}

.yahoo {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px 50px;
}

.facebook {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px -100px;
}

.myspace {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px 250px;
}

.linkedin {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px 350px;
}

.aol {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px 0px;
}

.twitter {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url(http://www.way2ghar.com/images/google.png);
	background-position: 0px 150px;
}
.ui-selectcheckboxmenu-label{
font-size: 16px;
padding: 4px;
}

.ui-button-text{
font-size: 20px;
}
</style>

</h:head>
<h:body>
	<!-- menu starts -->
	<ui:include src="menu.xhtml" />
	<!-- menu ends -->
	<div style="width: 800px; margin: 0 auto;">
		<div style="width: 800px; margin: 0;">

			<!-- http://www.ajaxload.info/ -->

			<p:blockUI block="voiceOfAapForm" trigger=":voiceOfAapForm:beVoiceOfAap,:voiceOfAapForm:postOnGroup,:voiceOfAapForm:postOnTimeLine,:voiceOfAapForm:tweetFromMyAccount">
				Loading....<br />
				<p:graphicImage value="/images/ajax-loader.gif" />
			</p:blockUI>
			<p:blockUI block="voiceOfAapForm" trigger=":voiceOfAapForm:saveSetting">
				Saving Settings....<br />
				<p:graphicImage value="/images/ajax-loader.gif" />
			</p:blockUI>

			<h:form id="voiceOfAapForm">
				<p:messages id="messages" autoUpdate="true" closable="true" />
				<p:fieldset>
					<f:facet name="legend">
						<div class="topAlignDiv">
							<p:selectBooleanCheckbox id="beVoiceOfAap" value="#{voiceOfAapBean.beVoiceOfAap}">
								<p:ajax update=":voiceOfAapForm:voiceOfAapOptions" listener="#{voiceOfAapBean.handleVoiceOfAapCheckBoxChange}" />
							</p:selectBooleanCheckbox>
							I want to be voice of AAP
						</div>
					</f:facet>
					<br></br>
					<p:outputPanel id="voiceOfAapOptions">
						<p:outputPanel rendered="#{voiceOfAapBean.beVoiceOfAap}">
							<p:outputPanel id="facebookOptions">
							<p:fieldset>
								<f:facet name="legend">
								<div  class="facebook"></div>
								</f:facet>
								<p:selectBooleanCheckbox id="postOnTimeLine" value="#{voiceOfAapBean.postOnTimeLine}">
									<p:ajax listener="#{voiceOfAapBean.handlePostOnTimeLineCheckBoxChange}" update=":voiceOfAapForm:allGroups" />
								</p:selectBooleanCheckbox>Post on My Timeline.<br> </br>
								<br></br>

								<p:selectBooleanCheckbox id="postOnGroup" value="#{voiceOfAapBean.postOnGroup}">
									<p:ajax listener="#{voiceOfAapBean.handlePostOnGroupCheckBoxChange}" update=":voiceOfAapForm:voiceOfAapOptions" />
								</p:selectBooleanCheckbox>Post on my Facebook groups.<br></br><br></br>
								<p:selectCheckboxMenu disabled="#{!voiceOfAapBean.postOnGroup}" id="allGroups" value="#{voiceOfAapBean.selectedGroups}" label="Select Facebook Groups" filter="true"
									filterText="Filter" filterMatchMode="contains" panelStyle="width:400px">
									<f:selectItems value="#{voiceOfAapBean.userGroups}" />
								</p:selectCheckboxMenu>
							</p:fieldset>
							</p:outputPanel>

							<!-- 
							<p:selectOneRadio rendered="#{voiceOfAapBean.postOnGroup}" id="grid" value="#{voiceOfAapBean.selectedGroups}" layout="pageDirection" columns="3">
								<f:selectItems value="#{voiceOfAapBean.userGroups}" />
							</p:selectOneRadio>
							 -->
							<br></br>
							<p:fieldset>
								<f:facet name="legend">
								<div  class="twitter"></div>
								</f:facet>
								<p:selectBooleanCheckbox id="tweetFromMyAccount" value="#{voiceOfAapBean.tweetFromMyAccount}">
									<p:ajax listener="#{voiceOfAapBean.handleTweetFromMyAccountCheckBoxChange}" update=":voiceOfAapForm:voiceOfAapOptions" />
								</p:selectBooleanCheckbox>Tweet/Retweet from my account.<br></br>
							</p:fieldset>

						</p:outputPanel>
					</p:outputPanel>
					<br></br>
					<p:commandButton id="saveSetting" value="Save Setting" style="float: right;font-size:20px;" actionListener="#{voiceOfAapBean.saveVoiceOfAapSeeting}" />
					<p:tooltip for="saveSetting">Save profile</p:tooltip>

					<br></br>
					<br></br>
				</p:fieldset>
				
				<p:fieldset>
					<f:facet name="legend">
						<div class="topAlignDiv">
							Frequently Asked Questions
						</div>
					</f:facet>
					<br></br>
					<br></br>
					<p:accordionPanel>
						<p:tab title="What is Voice of AAP?">
							<h:panelGrid columns="1" cellpadding="10">
								<h:outputText
									value="Voice of AAp is a social app of aam aadmi party which will use your social account like facebook and twitter
									to spread AAP related messages, i.e. Daily Donation Update, important messages, tweets etc" />
								<ul>
									<li><b>Post on My Timeline : </b> if you select this option that means we will post various content like Daily Donation Update(Daily) and various other important
										updates once in a while(i.e. once per week but may be more then once per week at sometimes) on your timeline, so that your friend and any visitor of your profile can view
										it.</li>
									<li><b>Post on my Facebook groups : </b> if you select this option that means we will post various content like Daily Donation Update(Daily) and various other
										important updates once in a while(i.e. once per week but may be more then once per week at sometimes) on your various selected groups so that other members of those
										groups can view the content</li>
									<li><b>Tweet/Retweet from my account : </b> if you select this option that means we will tweet or retweet important tweets from your all connected twitter account</li>
										
								</ul>
							</h:panelGrid>
						</p:tab>
						<p:tab title="Is my Information secure?">
							<h:panelGrid columns="1" cellpadding="10">
								<h:outputText value="Yes absolutely, we will never share your inforamtion with any one." />
							</h:panelGrid>
						</p:tab>
						<p:tab title="Can I track activities of this app on my accounts?">
							<h:panelGrid columns="1" cellpadding="10">
								<h:outputText value="Yes we want to keep it transparent, so we will show what, where and when we posted on your behalf. You can come back here and view all activity." />
							</h:panelGrid>
						</p:tab>
						<p:tab title="Can I Cancel this service?">
							<h:panelGrid columns="1" cellpadding="10">
								<h:outputText value="Yes you can cancel it any time. Just come back here and uncheck the 'I want to be voice of AAP' checkbox" />
							</h:panelGrid>
						</p:tab>

					</p:accordionPanel>
				</p:fieldset>
				<br></br>
				<br></br>
				<br></br>
				<br></br>
			</h:form>
			<!-- header ends -->


			<!-- footer starts -->
			<div class="footerWrapper">
				<div class="container_24">
					<div class="grid_24 panel footer">
						Copyright &copy; 2014 <a href="#">www.aamaadmiparty.org</a>. All Rights Reserved.
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- footer ends -->
		</div>
	</div>

</h:body>
</html>
