<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<ui:include src="htmlhead.xhtml" />
	<title>#{menuBean.user.name} - Home</title>
</h:head>
<h:body>
	<ui:include src="header.xhtml" />

	<div class="band mainbody" id="my-donations">
		<div class="container">
			<!--beginning of left container-->
			<div class="sixteen columns">
				<div class="donations-title">
					<h3>Be a part of the change. Volunteer for the Aam Aadmi Party.</h3>
				</div>
			</div>

			<div class="eight columns" id="volunteer-profile-right">
				<h:form id="userVolunteerForm">
					<h:panelGrid>
						<p:messages autoUpdate="true" />
						<ui:include src="../common/volunteer.xhtml">
							<ui:param name="param_VolunteerBean" value="#{userVolunteerBean.volunteerBean}" />
						</ui:include>

						<p:messages autoUpdate="true" />
						<p:commandButton id="saveProfile" styleClass="invite-frns-link" value="Save Volunteer Profile" actionListener="#{userVolunteerBean.saveProfile}" />

					</h:panelGrid>
				</h:form>

				</div>

			</div>
			<!-- container -->
		</div>
		<!--band-->



		<ui:include src="footer.xhtml" />
</h:body>
</html>
